<h2>Author</h2>
Hasan Arcas

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ol>
  <ul>List of popular languages that Data Scientists use</ul>
  <ul>Commonly used libraries used by Data Scientists</ul>
  <ul>Examples of evaluating arithmetic expressions using Python</ul>
</ol>

<ol>
  <p>Some of the popular languages that Data Scientists use are:</p>
  <li>Python</li>
  <li>Julia</li>
  <li>R</li>
</ol>

<ol>
  <p>Some of the commonly used libraries used by Data Scientists include:</p>
  <li>Pandas</li>
  <li>Matplotlib</li>
  <li>Seaborn</li>
</ol>


<table >
<tr><th >Data Science Tools</th></tr>
<tr><td>Visual Studio Code</td></tr>
<tr><td>Rstudio</td></tr>
<tr><td>JupyterLab</td></tr>
<table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335